<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#E75627"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <meta name="description" content="Website Cari Makan">
  <title>Cari Makan Website</title>
</head>
<body>
  </div>
  <a href="#mainContent" class="skip-link">Skip to Restaurant List</a>

  <header class="app-bar">
    <div class="logo">
      <img src="./images/logo.png" alt="logo cari makan">
    </div>

    <button id="hamburgerButton" class="menu" aria-label="Menu">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <nav id="navigationDrawer">
      <ul>
        <li><a href="#/list">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/rohmads" target="_blank" rel="noopener">About Us</a></li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" class="main-content" tabindex="0">
  </main>

  <footer>
    <p>Copyright © 2020 - Cari Makan</p>
  </footer>
</body>
</html>
